body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}



.wrapper {
    display: flex;
    border: 2px solid black;
    flex-wrap: wrap;
    width: 400px;
    border: 2px solid black;
}

