.container{
    width: 1200px;
    height: 100px;
 
    

}

.box{
    width: 200px;
    height: 200px;
    background: palegreen;
    border: 2px solid black;
  
    
}

.box1 {
    width: 200px;
    height: 200px;
    background: plum;
    border: 2px solid black;
       
}

.box2 {
    width: 200px;
    height: 200px;
    background: rgb(122, 126, 196);
    border: 2px solid black;
}