.q {
    width: 500px;
    height: 500px;
    background-color: red;
    border: 3px solid black;

}

.w {
    width: 500px;
    height: 500px;
    background-color: rgb(0, 94, 255);
    border: 3px solid black;


}

.a {
    width: 500px;
    height: 1000px;
}

h1 {
    font-size: 20px;
}

p {
    font-size: 20px;
}