.contact {
    font-family: 'Mulish', sans-serif;
    background-color: $black;
    display: flex;
    font-size: 24px;
    color: $white;

    .logo {
        max-width: 112px;
        padding-left: 70px;
        padding-top: 70px;

    }

    .company {
        max-width: 173px;
        padding-left: 206px;
        padding-top: 70px;

        &_firm {
            width: 173px;
            height: 33px;

            h3 {
                font-size: 24px;
                color: $white;
            }
        }

        &_catalog {
            width: 101px;
            height: 243px;

            ul {
                list-style: none;
                padding: 0px;
                padding-top: 44px;

                li {
                    padding-top: 32px;

                    a {
                        text-decoration: none;
                        color: $white;
                        font-size: 18px;
                    }
                }
            }
        }
    }

    .services {
        width: 270px;
        height: 320px;
        padding-left: 122px;
        padding-top: 70px;

        &_title {
            width: 93px;
            height: 33px;

            h3 {
                font-size: 24px;
                color: $white;
            }
        }

        &_catalog {
            width: 270px;
            height: 243px;

            ul {
                list-style: none;
                padding: 0px;
                padding-top: 44px;

                li {
                    padding-top: 32px;

                    a {
                        text-decoration: none;
                        color: $white;
                        font-size: 18px;
                    }
                }
            }
        }
    }

    .feedback {
        width: 344px;
        height: 320px;
        padding-left: 451px;
        padding-top: 70px;

        &_us {
            width: 255px;
            height: 33px;

            h3 {
                font-size: 24px;
                color: $white;
            }
        }

        &_address {
            width: 344px;
            height: 146px;

            ul {
                list-style: none;
                padding: 0px;
                display: flex;
                flex-direction: column;

                li {
                    padding-top: 18px;
                    display: flex;

                    a {
                        text-decoration: none;
                        color: $white;
                        background-repeat: no-repeat;
                        padding-left: 65px;

                        &.mobil {
                            background-image: url(./../img/white\ phone.png);
                            height: 30px;
                        }

                        &.location {
                            background-image: url(./../img/white\ map.png);
                            height: 30px;
                        }

                        &.mail {
                            background-image: url(./../img/white\ messe.png);
                            height: 30px;
                        }
                    }
                }
            }

        }

        &_social {
            width: 232px;
            height: 40px;
            margin-top: 57px;

            ul {
                list-style: none;
                display: flex;
                padding: 0px;

                li {
                    height: 90px;
                    align-items: center;
                    padding: 0px 24px;

                    a {
                        width: 40px;
                        height: 40px;

                        &.teleg {
                            background-image: url(./../img/icon_telegram.png);
                        }

                        &.dribbble {
                            background-image: url(./../img/icon_dribbble.png);
                        }

                        &.be {
                            background-image: url(./../img/icon_behance.png);
                        }

                        &.in {
                            background-image: url(./../img/icon_linkedin.png);
                        }
                    }
                }
            }
        }
    }
}